.App {
  text-align: center;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.answer-option {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

.questions-list {
  margin-bottom: 30px;
}

.item-list {
  display: flex;
  align-items: center;
  text-align: left;
}

.icon-list {
  width: 30px;
  margin-right: 20px;
}